#widgetContainer {
  margin: 0;
  padding: 10px;
  padding-top: 30px;
  min-height: 92vh;
}

ul {
  padding: 0;
  margin: 0;
}

button {
  margin: 0;
  padding: 0;
}

/* Profile Page  */
#ProfileContainer {
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
   margin-top: 20px;
   margin-bottom: 20px;
}

#profileImageContainer {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
}

#mainProfileImage {
   object-fit: cover;
   width: 200px;
  height: 200px;
}

hr {
   border: 2px solid #ffbb00;
}

#updateDetails {
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-wrap: wrap;
}

/* Pantry List */

#PantryList {
  min-width: 200px;
  min-height: 200px;
  border-radius: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 1px black;
}

#PantryList li {
  background: #FDE68A;
  font-weight: bold;
  padding: 3px;
}

#PantryList a {
  cursor: pointer;
}

#PantryList li:nth-child(odd) {
  background: #D9F99D;
}

#PantryListItem {
  display: inline-block;
  width: 50%;
}

#PantryListExpiry {
  display: inline-block;
  width: 40%;
}

#PantryListDelete {
  display: inline-block;
  width: 10%;
}